/* Add this line to import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #fefaf6;
  --color-primary: #7a6ff0;
  --color-primary-hover: #695de0;
  --color-text: #111827;
  --color-text-accent: #ffb8b1;
  --color-text-lavander: #e4d7f5;
  --color-text-mint: #a8e6cf;

  --font-size-heading: 3rem;
  --font-size-paragraph: 1.125rem;

  --font-sans: "Inter", sans-serif;
  --font-serif-accent: "Roboto Condensed", serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}
