/* Add this line to import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #fefaf6;
  --color-background-secondary: var(--color-background/10);

  --color-dark: #111827;


  --color-primary: #7a6ff0;
  --color-primary-hover: #695de0;
  --color-secondary: #a8e6cf;
  --color-secondary-hover: #34d399;

  --color-lavander-dark: #8347d1;
  --color-lavander: #e4d7f5
  --color-lavander-light: #f6f1fc;

  --color-mint-dark: #34d399;
  --color-mint: #a8e6cf;
  --color-mint-light: #d1fae5;

  --color-pink-dark: #ff7466;
  --color-pink: #ffb8b1;
  --color-pink-light: #fef2f2;




  --color-text: var(--color-dark);
  --color-text-hover: #374151;
  --color-text-secondary: #4b5563;
  --color-text-muted: #6b7280;
  --color-text-accent: var(--color-primary);
  --color-text-accent-hover: var(--color-primary-hover);

  --font-size-heading: 3rem;
  --font-size-paragraph: 1.125rem;

  --font-sans: "Inter", sans-serif;
  --font-serif-accent: "Roboto Condensed", serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}
